* {
    font-family: 'Roboto Mono', monospace;
}

#mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
}

.mobile{
    display: block;
    position: absolute;
    bottom: 10px;
    width: 80%;
    left: auto;
    top: auto;
    transform: translate(10%, -50%);
    line-height: 1em;
    background-color: red;
    z-index: 998;
}
.mobile > p{
    text-align: center;
}

#menu {
    position: fixed;
    /* display: block; */
    top: 0;
    left: 0;
    z-index: 999;
}

#menu * {
    margin: 0;
    padding: 0;
    display: none;
    width: 100%;
    height: 1.2em;
    border: none;
    font-size: 0.6em;
    text-align: center;
}

.menuContainer{
    width: 160px;
    /* height: 100%; */
    background-color: red;
}

.title{
    background-color: gray;
    color: black;
    line-height:2em;
}

.input{
    text-align: center;
}

button{
    background-color: white;
}
button:hover{
    background-color: blue;
}
button.selected{
    background-color: red;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background: white;
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    background-color: #0F0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1.4em;
    height: 1.4em;
    background: #000;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

@media screen and (min-width: 400px) {
    .mobile {
        display: none;
    }
}

/* Laptop */
@media screen and (min-width: 800px) {
    #menu * {
        display: block;
        height: 1.8em;
        font-size: 0.8em;
    }
}

/* Big Screen */
@media screen and (min-width: 1280px) {
    #menu * {
        height: 2em;
        font-size: 1em;
    }
    .menuContainer {
        width: 200px;
    }
    .slider::-moz-range-thumb {
        width: 2em;
        height: 2em;
        border-radius: 3px;
    }
}
