* {
    font-family: 'Roboto Mono', monospace;
}

#mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
}

.mobile{
    display: block;
    position: absolute;
    bottom: 10px;
    width: 80%;
    left: auto;
    top: auto;
    transform: translate(10%, -50%);
    line-height: 1em;
    background-color: red;
    z-index: 998;
}
.mobile > p{
    text-align: center;
}



#menu {
    position: fixed;
    /* display: block; */
    top: 0;
    left: 0;
    z-index: 999;
}

#menu * {
    margin: 0;
    padding: 0;
    display: none;
    width: 100%;
    height: 1.2em;
    border: none;
    font-size: 0.6em;
    text-align: center;
}

.menuContainer{
    width: 160px;
    /* height: 100%; */
    background-color: red;
}

.title{
    background-color: darkgray;
    line-height:2em;
}

.subtitle{
    background-color: lightgray;
    line-height:2em;
}

.about{
    position: absolute;
    width: 400px;
    top: 0px;
    left: 160px;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    line-height: 1.2em;
    background-color: lightgray;
    z-index: 997;
}

.about p, a {
    font-size: 0.8em;
}

.aboutLink{
    line-height: 1.3em;
}

.show{
    display: none;
}

.hide{
    display: none;
}

.input{
    text-align: center;
}

button{
    background-color: white;
}
button:hover{
    background-color: blue;
}
button.selected{
    background-color: red;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background: white;
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    background-color: #0F0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.4em;
    height: 1.4em;
    background: #000;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.slider::-moz-range-thumb {
    width: 1.4em;
    height: 1.4em;
    background: #000;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

@media screen and (min-width: 600px) {
    .mobile {
        display: none;
    }

}

/* Laptop */
@media screen and (min-width: 600px) {
    #menu * {
        display: block;
        height: 1.8em;
        font-size: 0.8em;
    }
    .show{
        display: block;
    }
}

/* Big Screen */
@media screen and (min-width: 1400px) {
    #menu * {
        height: 2em;
        font-size: 1em;
    }
    .menuContainer {
        width: 200px;
    }
    .slider::-moz-range-thumb {
        width: 2em;
        height: 2em;
        border-radius: 3px;
    }
    .about{
        width: 400px;
        left: 200px;
        padding-bottom: 1.2em;
    }
    .about p, a {
        font-size: 1em;
    }
    .aboutLink{
        line-height: 1.6em;
    }
}
